In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
ama = pd.read_csv(r"C:\Users\51101\Desktop\Social_media_Projects\Other\shank\DS - Assignment Part 2 data set\amz_com-ecommerce_sample.csv", encoding='unicode_escape')
flip = pd.read_csv(r"C:\Users\51101\Desktop\Social_media_Projects\Other\shank\DS - Assignment Part 2 data set\flipkart_com-ecommerce_sample.csv", encoding='unicode_escape')

# Model Building

Mathematically cosine similarity is the best techinique for Semantic similariy analysis.

Here we are going to match our products by using cosine similarity opeartions.

>> The first step of the process is converting the text into embedding vectors.
>> Then applying cosine similarity mathematical operation for the products.
>> It will give scores between 0 to 1.0

In [3]:
import transformers
from transformers import pipeline

In [4]:
amazon = ama[['product_name_amazon','retail_price_amazon','discounted_price_amazon']]
flipkart = flip[['product_name','retail_price','discounted_price']]

In [5]:
amazon.head()

,product_name_amazon,retail_price_amazon,discounted_price_amazon
0,Alisha Solid Women's Cycling Shorts,982,438
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,AW Bellies,991,551
3,Alisha Solid Women's Cycling Shorts,694,325
4,Sicons All Purpose Arnica Dog Shampoo,208,258

In [6]:
flipkart.head()

                            product_name  retail_price  discounted_price
0    Alisha Solid Women's Cycling Shorts         999.0             379.0
1    FabHomeDecor Fabric Double Sofa Bed       32157.0           22646.0
2                             AW Bellies         999.0             499.0
3    Alisha Solid Women's Cycling Shorts         699.0             267.0
4  Sicons All Purpose Arnica Dog Shampoo         220.0             210.0

In [7]:
from sentence_transformers import SentenceTransformer, util

In [8]:
import torch

In [9]:
model = SentenceTransformer('all-MiniLM-L6-v2')

In [10]:
# Embeddings for amazon and flipkarts products

am_embed = model.encode(amazon['product_name_amazon'], convert_to_tensor=True)
Flip_embed = model.encode(flipkart['product_name'], convert_to_tensor=True)

In [11]:
## Applying cosine similarity's

cosine_scores = util.cos_sim(am_embed, Flip_embed)

In [12]:
# Taking flipkarts products and comparing with amazon of each product
similar_products = []

for i in range(2000):
    maximum_score = torch.topk(cosine_scores[i], k=5, largest=True, sorted=True).indices
    for ind in maximum_score:
        if ind !=i:
            similar_products.append(ind)
            break

In [13]:
similar_products = [i.item() for i in similar_products]

In [14]:
similar_products

[3,
 16,
 17691,
 0,
 20,
 5251,
 3,
 16,
 15764,
 3,
 17653,
 18,
 4,
 3,
 18637,
 3,
 1,
 3379,
 11,
 16,
 4,
 3,
 14644,
 1226,
 1586,
 434,
 5642,
 1119,
 10107,
 1601,
 9450,
 19439,
 33,
 32,
 11011,
 8707,
 15612,
 15120,
 18799,
 9365,
 16097,
 5182,
 1275,
 51,
 45,
 44,
 53,
 48,
 52,
 58,
 44,
 43,
 48,
 44,
 10404,
 44,
 44,
 58,
 49,
 11644,
 44,
 9919,
 58,
 44,
 65,
 64,
 58,
 75,
 70,
 67,
 68,
 2985,
 9055,
 67,
 16953,
 67,
 11198,
 7728,
 10735,
 12153,
 82,
 19241,
 80,
 5324,
 11217,
 358,
 16639,
 9813,
 235,
 230,
 8988,
 194,
 293,
 147,
 5390,
 14873,
 15662,
 5390,
 127,
 123,
 129,
 240,
 271,
 8980,
 241,
 124,
 243,
 197,
 116,
 218,
 154,
 130,
 127,
 109,
 287,
 175,
 235,
 15688,
 167,
 246,
 288,
 157,
 124,
 99,
 122,
 133,
 8649,
 98,
 241,
 100,
 111,
 127,
 259,
 212,
 116,
 169,
 282,
 258,
 221,
 192,
 157,
 15691,
 197,
 9039,
 239,
 127,
 9039,
 226,
 219,
 197,
 8980,
 141,
 8722,
 17833,
 110,
 124,
 217,
 124,
 207,
 170,
 260,
 15770,
 270,
 124,
 143,
 207,
 88,
 118,
 16681,
 277,
 159,
 233,
 5413,
 154,
 685,
 115,
 195,
 201,
 124,
 270,
 18581,
 271,
 127,
 293,
 546,
 3149,
 216,
 223,
 164,
 165,
 171,
 124,
 206,
 219,
 200,
 176,
 154,
 142,
 201,
 124,
 194,
 177,
 15630,
 177,
 252,
 279,
 192,
 165,
 231,
 127,
 293,
 241,
 109,
 258,
 17608,
 235,
 260,
 285,
 109,
 193,
 269,
 138,
 127,
 227,
 270,
 17603,
 261,
 223,
 127,
 16076,
 89,
 208,
 269,
 171,
 15916,
 8753,
 124,
 289,
 124,
 144,
 101,
 128,
 218,
 106,
 271,
 127,
 215,
 127,
 13785,
 206,
 13785,
 15704,
 204,
 269,
 235,
 272,
 124,
 284,
 213,
 132,
 216,
 226,
 207,
 252,
 170,
 15712,
 132,
 184,
 219,
 220,
 224,
 244,
 255,
 271,
 127,
 14600,
 16871,
 169,
 5372,
 15820,
 294,
 246,
 136,
 127,
 257,
 217,
 241,
 114,
 120,
 237,
 15704,
 198,
 124,
 183,
 280,
 15630,
 298,
 298,
 296,
 298,
 304,
 305,
 11081,
 17890,
 300,
 301,
 301,
 321,
 377,
 4987,
 9803,
 4487,
 301,
 312,
 301,
 500,
 3434,
 7642,
 9803,
 1630,
 15636,
 307,
 15636,
 13708,
 16550,
 15636,
 15636,
 14981,
 334,
 337,
 332,
 17942,
 330,
 3237,
 347,
 14783,
 1639,
 329,
 3237,
 342,
 349,
 344,
 339,
 329,
 341,
 1639,
 348,
 334,
 346,
 340,
 16416,
 334,
 17858,
 10302,
 10987,
 9834,
 357,
 356,
 85,
 15627,
 362,
 362,
 360,
 364,
 363,
 364,
 1624,
 13265,
 5394,
 376,
 17738,
 19542,
 3324,
 9619,
 5584,
 669,
 369,
 11898,
 10376,
 381,
 381,
 380,
 11367,
 384,
 383,
 1361,
 483,
 409,
 565,
 751,
 391,
 390,
 393,
 1352,
 375,
 9763,
 402,
 403,
 405,
 406,
 403,
 397,
 396,
 400,
 403,
 403,
 399,
 403,
 403,
 397,
 13461,
 417,
 13288,
 422,
 670,
 718,
 413,
 411,
 492,
 9572,
 890,
 398,
 413,
 424,
 428,
 424,
 12537,
 429,
 424,
 427,
 13206,
 432,
 431,
 2950,
 25,
 534,
 19713,
 17877,
 16035,
 457,
 364,
 442,
 441,
 678,
 442,
 392,
 445,
 448,
 447,
 14573,
 452,
 523,
 450,
 9759,
 8171,
 11798,
 482,
 439,
 459,
 458,
 5421,
 883,
 873,
 9615,
 386,
 9891,
 13401,
 13495,
 684,
 475,
 13221,
 1703,
 7982,
 11841,
 585,
 469,
 9536,
 9891,
 880,
 824,
 526,
 3797,
 877,
 486,
 487,
 487,
 490,
 485,
 369,
 487,
 486,
 9803,
 418,
 1306,
 13010,
 466,
 665,
 7758,
 8083,
 550,
 15801,
 505,
 550,
 549,
 10376,
 502,
 13355,
 510,
 11080,
 510,
 507,
 621,
 621,
 9763,
 527,
 9763,
 521,
 524,
 574,
 10874,
 525,
 525,
 398,
 890,
 517,
 521,
 9604,
 9763,
 15666,
 531,
 529,
 529,
 546,
 13113,
 369,
 369,
 537,
 538,
 537,
 537,
 784,
 542,
 541,
 777,
 784,
 593,
 532,
 532,
 13667,
 503,
 502,
 553,
 525,
 551,
 384,
 513,
 513,
 458,
 458,
 458,
 458,
 458,
 458,
 458,
 458,
 388,
 658,
 9633,
 369,
 571,
 606,
 602,
 369,
 9718,
 518,
 580,
 571,
 580,
 11582,
 10376,
 577,
 475,
 580,
 475,
 580,
 474,
 580,
 475,
 475,
 590,
 589,
 13360,
 593,
 545,
 781,
 11496,
 9677,
 542,
 9395,
 784,
 369,
 603,
 571,
 601,
 571,
 603,
 570,
 12836,
 11957,
 610,
 609,
 3324,
 12736,
 609,
 689,
 859,
 888,
 603,
 603,
 603,
 759,
 511,
 626,
 625,
 623,
 623,
 622,
 512,
 13181,
 630,
 629,
 642,
 13181,
 475,
 551,
 637,
 637,
 635,
 637,
 637,
 637,
 629,
 631,
 629,
 628,
 647,
 645,
 645,
 645,
 645,
 645,
 645,
 645,
 645,
 13483,
 9602,
 657,
 656,
 657,
 758,
 659,
 9809,
 656,
 570,
 571,
 496,
 667,
 666,
 667,
 375,
 414,
 823,
 570,
 570,
 571,
 571,
 9721,
 9683,
 595,
 9426,
 13288,
 12669,
 523,
 1831,
 724,
 687,
 687,
 685,
 687,
 609,
 609,
 609,
 609,
 609,
 609,
 614,
 609,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 11024,
 713,
 714,
 710,
 710,
 710,
 717,
 679,
 715,
 415,
 494,
 7483,
 769,
 609,
 9522,
 684,
 609,
 609,
 609,
 392,
 445,
 5383,
 680,
 637,
 637,
 798,
 736,
 737,
 736,
 744,
 637,
 749,
 637,
 637,
 637,
 738,
 637,
 637,
 637,
 9510,
 740,
 749,
 9630,
 11582,
 10005,
 11485,
 756,
 755,
 756,
 659,
 620,
 763,
 9532,
 790,
 760,
 765,
 764,
 764,
 9655,
 609,
 721,
 609,
 12939,
 545,
 545,
 637,
 637,
 412,
 543,
 637,
 799,
 637,
 594,
 13381,
 637,
 540,
 814,
 816,
 12805,
 13733,
 19586,
 793,
 9597,
 475,
 790,
 19685,
 18377,
 457,
 13288,
 734,
 13492,
 11621,
 843,
 840,
 804,
 803,
 9512,
 871,
 853,
 834,
 827,
 13288,
 12916,
 1418,
 784,
 785,
 814,
 786,
 818,
 817,
 821,
 818,
 818,
 829,
 671,
 479,
 5421,
 433,
 13351,
 822,
 822,
 5455,
 13161,
 871,
 11544,
 808,
 9723,
 890,
 1356,
 842,
 840,
 841,
 840,
 843,
 842,
 12808,
 847,
 847,
 845,
 847,
 570,
 11634,
 798,
 889,
 807,
 853,
 11758,
 11758,
 15420,
 862,
 867,
 11511,
 865,
 858,
 864,
 863,
 861,
 867,
 859,
 9532,
 848,
 3346,
 832,
 832,
 9882,
 9568,
 876,
 875,
 482,
 1352,
 9759,
 478,
 13192,
 9496,
 461,
 13161,
 9785,
 887,
 886,
 9602,
 888,
 523,
 9291,
 891,
 894,
 893,
 10137,
 895,
 898,
 897,
 907,
 3169,
 1485,
 16795,
 899,
 17732,
 907,
 17326,
 905,
 912,
 911,
 914,
 912,
 908,
 917,
 910,
 911,
 911,
 913,
 18874,
 18691,
 4015,
 18727,
 16042,
 927,
 934,
 19353,
 16020,
 923,
 15627,
 10284,
 15627,
 932,
 931,
 931,
 924,
 939,
 939,
 18872,
 954,
 936,
 956,
 939,
 939,
 1597,
 8102,
 939,
 973,
 954,
 939,
 956,
 953,
 947,
 950,
 973,
 947,
 940,
 940,
 954,
 956,
 7190,
 939,
 956,
 937,
 939,
 956,
 939,
 939,
 939,
 939,
 940,
 956,
 944,
 940,
 953,
 958,
 939,
 956,
 14917,
 939,
 939,
 939,
 7627,
 1048,
 115,
 1001,
 1025,
 930,
 1036,
 8912,
 1023,
 1002,
 1060,
 1056,
 1013,
 1014,
 1025,
 1681,
 3409,
 3209,
 1042,
 ...]

In [15]:
len(similar_products)

2000

In [16]:
amazon.product_name_amazon[3], flipkart.product_name[similar_products[3]]

("Alisha Solid Women's Cycling Shorts", "Alisha Solid Women's Cycling Shorts")

In [17]:
flipkart_products = []
amazon_products = []

flipkart_products.append(flipkart.iloc[similar_products[0:2000]])
amazon_products.append(amazon.iloc[0:2000])

In [18]:
amazon_products_sim = np.reshape(np.array(amazon_products), newshape=(2000, 3))
amazon_products_sim =pd.DataFrame(amazon_products_sim)
amazon_products_sim.columns = ['Product_name_Amazon','Retail_Price_Amazon','Discounted_Price_Amazon']
amazon_products_sim.head()

,Product_name_Amazon,Retail_Price_Amazon,Discounted_Price_Amazon
0,Alisha Solid Women's Cycling Shorts,982,438
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,AW Bellies,991,551
3,Alisha Solid Women's Cycling Shorts,694,325
4,Sicons All Purpose Arnica Dog Shampoo,208,258

In [19]:
flipkart_prod_sim = np.reshape(np.array(flipkart_products), newshape=(2000, 3))
flipkart_prod_sim =pd.DataFrame(flipkart_prod_sim)
flipkart_prod_sim.columns = ['Product_Flipkart','Retail_Price_Flipkart','Discounted_Price_Flipkart']
flipkart_prod_sim.head()

,Product_Flipkart,Retail_Price_Flipkart,Discounted_Price_Flipkart
0,Alisha Solid Women's Cycling Shorts,699.0,267.0
1,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0
2,i-Sports Bellies,899.0,399.0
3,Alisha Solid Women's Cycling Shorts,999.0,379.0
4,Sicons Conditioning Conditoner Dog Shampoo,110.0,100.0

In [20]:
flipkart_prod_sim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Product_Flipkart           2000 non-null   object
 1   Retail_Price_Flipkart      1998 non-null   object
 2   Discounted_Price_Flipkart  1998 non-null   object
dtypes: object(3)
memory usage: 47.0+ KB

In [21]:
amazon_products_sim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product_name_Amazon      2000 non-null   object
 1   Retail_Price_Amazon      2000 non-null   object
 2   Discounted_Price_Amazon  2000 non-null   object
dtypes: object(3)
memory usage: 47.0+ KB

In [23]:
amazon_products_sim['Retail_Price_Amazon'] = amazon_products_sim['Retail_Price_Amazon'].astype(float)
amazon_products_sim['Discounted_Price_Amazon'] = amazon_products_sim['Discounted_Price_Amazon'].astype(float)

flipkart_prod_sim['Retail_Price_Flipkart'] = flipkart_prod_sim['Retail_Price_Flipkart'].astype(float)
flipkart_prod_sim['Discounted_Price_Flipkart'] = flipkart_prod_sim['Discounted_Price_Flipkart'].astype(float)

In [24]:
final_data = pd.concat([flipkart_prod_sim, amazon_products_sim],axis=1)
final_data.to_csv('final_result.csv')

In [26]:
final_data.tail()

,Product_Flipkart,Retail_Price_Flipkart,Discounted_Price_Flipkart,Product_name_Amazon,Retail_Price_Amazon,Discounted_Price_Amazon
1995,Grafion by Grafion - Comfort Feel Women's Full...,1349.0,359.0,Grafion by Grafion - Comfort Feel Women's Full...,639.0,351.0
1996,Ploomz Women's T-Shirt Bra,1000.0,349.0,Ploomz Women's T-Shirt Bra,997.0,503.0
1997,Madaam NonPadded Women's Tube Bra,647.0,284.0,Madaam NonPadded Women's Tube Bra,353.0,147.0
1998,S4S Comfortable Women's Full Coverage Bra,499.0,122.0,S4S Comfortable Women's Full Coverage Bra,791.0,290.0
1999,Laceandme Super Comfort Bandeau Women's Tube Bra,450.0,140.0,Laceandme Super Comfort Bandeau Women's Tube Bra,437.0,158.0